body{
    font-family: Arial, sans-serif;
    background-color: rgb(119, 151, 198);
    font-size: large;
}

header{
    font-size: 30px;
    color:rgb(58, 5, 84);
    text-align:center;
    margin-bottom: 10px;
    background-color: rgb(234, 200, 234);
}

#aboutme {
    margin:10px;
    border: 3px solid gray;
    background-color:lavenderblush;
    color: black;
    text-align: center;
    padding:10px;
}

#image {
    width: 65%;
    height:200px;
    float:left;
    border: 3px solid gray;
    background-color:lavenderblush;
    color: black;
    text-align: center;
}
#username
{
    width: 32%;
    height:200px;
    float:right;
    border: 3px solid gray;
    background-color:lavenderblush;
    color: black;
    text-align: left;  
}

#form {
    clear:both;
    border: 3px solid gray;
    background-color:lavenderblush;
    text-align:center;
    padding:5%;
}

